.apple_pagination {
  //background: #f1f1f1;
  border: 1px;
  float: center;
  text-align: center;
  padding: 1em;
  cursor: default; }
  .apple_pagination a, .apple_pagination span {
    padding: 0.2em 0.3em; }
  .apple_pagination .disabled {
    color: #666; }
  .apple_pagination .current {
    font-style: normal;
    //font-weight: bold;
    color: #000;
    text-decoration: underline;
    background-color: #808f99;
    display: inline-block;
    width: 2em;
    height: 2em;
    text-align: center;
    line-height: 1.9;
    -moz-border-radius: 0.7em;
    -webkit-border-radius: 0.7em;
    border-radius: 0.7em;
    //text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px;
    
  }
  .apple_pagination a, .apple_pagination a:visited {
    text-decoration: none;
    color: #000; }
    .apple_pagination a:hover, .apple_pagination a:focus {
      background-color: #A9A9A9;
      text-decoration: none; }